<?php
$CONFIG = array (
  'appstoreenabled' => false,
  'appcodechecker' => false,
  'updatechecker' => false,
  'check_for_working_webdav' => false,
  'check_for_working_htaccess' => false,
  'logdateformat' => 'Y-m-d H:i:s',
  'logtimezone' => 'Asia/Tokyo',
  'datadirectory' => '/home/data',
  'dbtype' => 'mysql',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'forcessl' => true,
);